# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
venv/
.env
.env.*

# Django
*.log
staticfiles/
media/
user_faces/
certs/
frame_logs/

# VS Code
.vscode/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
